[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
pytest = "*"
factory-boy = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
